@page "/demoproduct"
@using Models
@using Blazor.Components.Pages.SharedComponents

<h3>Demo Product</h3>

<h4>Favorite product count: @FavoriteProducts.Count</h4>
<h5>Favorite products: @FavoritesList</h5>

<div class="row row-cols-2">
    @foreach(var product in Products)
    {
        <_IndividualComponent Product="@product" OnFavoriteChanged="OnFavoriteChanged">

        </_IndividualComponent>
    }
</div>

@code {

    public string FavoritesList { get; set; } = string.Empty; 

    public List<Product> FavoriteProducts { get; set;  } = new List<Product>(); 

    public List<Product> Products { get; set; } = new();

    private void onButtonClick(int productId) => Products.RemoveAll(n => n.Id == productId);

    public void OnFavoriteChanged(OnFavoriteChangedEventArgs e)
    {
        if(e.ToAdd)
        {
            FavoriteProducts.Add(e.Product); 
        }
        else
        {
            FavoriteProducts.Remove(e.Product); 
        }

        FavoritesList = string.Join(",", FavoriteProducts);
    }

    protected override void OnInitialized()
    {
        Products.Add(new Product
            {
                Id = 1,
                Name = "Pepsi",
                Price = 10,
                Active = true,
                Show = true,
                Properties = new List<SelectKeyValue>()
                {
                    new SelectKeyValue{ Id = 1, Key = "Type", Value="Drink"},
                    new SelectKeyValue{ Id = 2, Key = "Size", Value="12oz"},
                    new SelectKeyValue{ Id = 3, Key = "Color", Value="Black"},
                },
            });

        Products.Add(new Product
            {
                Id = 2,
                Name = "Sprite",
                Price = 9,
                Active = true,
                Show = true,
                Properties = new List<SelectKeyValue>()
                {
                    new SelectKeyValue{ Id = 1, Key = "Type", Value="Drink"},
                    new SelectKeyValue{ Id = 2, Key = "Size", Value="12oz"},
                    new SelectKeyValue{ Id = 3, Key = "Color", Value="Clear"},
                },
            });


        base.OnInitialized();
    }

}
